* {
    margin: 0;
    padding: 0;
}
body{
    transition:0.3s
}
#game{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
   
}
.info{
    max-width: 1000px;
    margin: auto;
}
img{
    width: calc(100% / 6 - 16px);
    transition: 0.5s;
    margin:5px;
    cursor:pointer;
    border-radius: 10px;
    border:3px solid #ffffff65;
    -webkit-backface-visibility: hidden; 
-webkit-filter: blur(0px); 
-moz-filter: blur(0px); 
-ms-filter: blur(0px);
filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
}
/* img:hover{
    transform:scale(1.07);
    -ms-transform: translateZ(0) scale(1.07); IE 9
    -webkit-transform: translateZ(0) scale(1.07); Chrome, Safari, Opera
    transform: translateZ(0) scale(1.07);
} */
h1{
    font-family: "Jersey 10 Charted", sans-serif;
    text-align: center;
    font-weight:normal
      
}
.blocked{
    pointer-events: none;
}
h2{
    font-family: "Finger Paint", sans-serif;
}
#modal{
    position: fixed;
    backdrop-filter: blur(25px);
    width: 100%;
    height:100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:0.3s;
    
}
#uwin{
    text-align: center;
    opacity:0;
    
}
form button{
    position:relative;
  padding: 10px 20px;  
  border: none;
  background: none;
  cursor: pointer;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 30px;  
  font-family: "Lilita One", sans-serif;
  /* background-color: hsl(210, 80%, 42%); */
  box-shadow:hsla(210, 40%, 52%, .4)  2px 2px 22px;
  border-radius: 4px; 
  overflow: hidden; 
  transition:0.3s;
}
#player{
  color: red;
}
#p2{
    color: blue;
}
#p3{
     color: green;
}
#p4{
    color:yellow;
}
#player:hover{
    background-color: blue;
}
#p2:hover{
    background-color:red;
}
#p3:hover{
    background-color:yellow;
}
#p4:hover{
    background-color:green;
}
.score{
    opacity:0;
}
#score0{
    color: red;
    -webkit-text-stroke:2px black;
    font-size: 30px;
    font-weight:normal;
}
#score1{
    color: blue;
    -webkit-text-stroke:2px black;
    font-size: 30px;
    font-weight:normal;
}
#score2{
    color:rgb(104, 202, 13);
    -webkit-text-stroke:2px black;
    font-size: 30px;
    font-weight:normal;
}
#score3{
    color:#ffff00;
    -webkit-text-stroke:2px black;
    font-size: 30px;
    font-weight:normal;
}